html, body{
  max-width: 100%;
}
body{
  background-image: url('backdrop.jpeg');
  background-attachement: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  }
  .banner{
  background: rgba(225,225,225,0.6);
  width: 90%;
  margin: 5%;
}
.banner2{
	width: 90%;
	margin: 5%;
}
h2{
  text-align: center;
  font-size: 8vw;
  font-spacing: 2px;
  font-family: San serif;
  color: maroon;
  padding: 15px;
	background: rgba(0,0,0,0.8)
	width: 90%;
	border: 1 px solid white;
}
#form1 > input {
	float: right;
}
.choose > input{
	float: right;
}
.submit > input{
	background: rgba(0,0,0,0.9);
	width: 70px;
	height: 50px;
	border: none;
	color: white;
}
label {
	font-size: 10px;
}
p {
	font-size: 16px;
}
input[type="text"], input[type="number"], input[type="email"] {
	float: right;
}